/* Global CCS style page for all the common elements across pages */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.container {
     background:rgba(0,255,0,0,0.2);
     width:1200px;
     margin:auto;
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
}

.header {
  position: fixed;
  left:0px;
  top:0px;
  background: #D64D1B;
  color: rgb(255, 255, 255);
  font-size: 30px;
  width: 100%;
  height: 150px;
  /* text-align: center; */
  text-decoration-line: underline;
  font-family: 'Do Hyeon', sans-serif;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-top: 500%;
  background: #D64D1B;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar {
  background-color: #d64d1b68;
  overflow: hidden;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    margin: 140px auto 0;          
    width: 90%;                    
    max-width: 600px;           
    display: flex;
    justify-content: center;
     position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the links inside the navigation bar */
.navbar a {
    flex: 1 0 auto;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/*the color of links on hover */
.navbar a:hover {
  background-color: #b53507a0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* color of the active/current link */
.navbar a.active {
  background-color: #ff4400a0;
  color: rgb(0, 0, 0);
}

.hero-image {
    display: block;          
    margin: 0 auto;          
    max-width: 50%;         
}

/* .blurb{
font-family: 'Courier New', monospace;
text-align: center;
color: #000000;
height:-20px;
} */

/* 
.square {
    background:blue;
    width:300px;
    height:300px;
    border:1px solid rgb(168, 113, 113);
}  */