@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.header {
  background: #D64D1B;
  color: white;
  font-size: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}

p {
  font-family: 'Do Hyeon', sans-serif;
}

.navbar{

width: 100px;
height: 100px;
background-color:#DD64D1B;

}