/* Poster page specific CSS file. This is where I will add styling for the poster gallery page only. */

.container {

     background:rgba(0,255,0,0,0.2);
     width:1200px;
     margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top:220px;
    margin-bottom:150px;
}

/* horizontal layout for poster images */
.row {
    grid-column: 1 / -1;

    display: flex;
    gap: 10px;                 /* spacing between columns */
    justify-content: center; 
    align-items: center;       
    margin: 0 auto;            
    max-width: 960px;          
}


/* three columns side by side */
.column {
    flex: 1 1 30%; 
    min-width: 40%;            
    max-width: 40%;         
    padding: 5px;
    /* display: flex;            allow centering of image inside */
    justify-content: center;
}

.row img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;          
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* zoom image on hover */
.row img:hover {
    transform: scale(1.1);   
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* cast shadow */
}







