/* Poster page specific CSS file. This is where I will add styling for the posters page only. */

.container {

     background:rgba(0,255,0,0,0.2);
     width:1200px;
     margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top:200px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 80%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}






